<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div class="nav">
  <div>
    <a href="/random">Random</a>
    <a href="/manyitems">5 or more items</a>
    <a href="/state/MD">MD only</a>
    <a href="/recent">Most Recent</a>
    <a href="/city/Germantown">Germantown Only</a>
  </div>
</div>

<body>
 {{{body}}}
</body>

</html>
